<div class="container">
    <form novalidate [formGroup]="myform" class="well form-horizontal">
        <fieldset>
            <legend>Iniciar Sesion</legend>
            <div class="form-group inputGroupContainer" [ngClass]="{
                     'has-error': usuario.invalid && (usuario.dirty || usuario.touched),
                     'has-success': usuario.valid && (usuario.dirty || usuario.touched) 
                }">
                <label class="col-md-4 control-label">Usuario</label>
                <div class="input-group col-md-4">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input formControlName="usuario" placeholder="Ingrese el Usuario / Correo Electronico" class="form-control" type="text" maxlength="50"
                        required>
                </div>
            </div>
            <div class="form-group inputGroupContainer" [ngClass]="{ 
                    'has-error': clave.invalid && (clave.dirty || clave.touched), 
                    'has-success': clave.valid && (clave.dirty || clave.touched) 
                }">
                <label class="col-md-4 control-label">Contraseña</label>
                <div class="input-group col-md-4">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input formControlName="clave" placeholder="Ingrese la Contraseña" class="form-control" type="password" maxlength="50" required>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-md-4"></div>
                <div class="col-md-1">
                    <button type="button" (click)="enviar()" class="btn btn-success">
                    Enviar <span class="glyphicon glyphicon-send"></span>
                </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>