<div class="container">
    <form novalidate [formGroup]="myform" class="well form-horizontal">
        <fieldset>
            <legend>Alta de Viaje</legend>
            <div class="form-group">
                <label class="col-md-2 control-label">Cliente</label>
                <div class="col-md-4 selectContainer" [ngClass]="{ 
                        'has-error': cliente.invalid && (cliente.dirty || cliente.touched), 
                        'has-success': cliente.valid && (cliente.dirty || cliente.touched)
                    }">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <select formControlName="cliente" placeholder="Seleccione el Cliente" class="form-control selectpicker">
                            <option *ngFor="let cliente of clientes" [value]="cliente.id">
                                {{cliente.nombre + ' ' + cliente.apellido + ' - ' + cliente.dni}}
                            </option>
                        </select>
                    </div>
                </div>
                <label class="col-md-1 control-label">Chofer</label>
                <div class="col-md-4 selectContainer" [ngClass]="{ 
                        'has-error': chofer.invalid && (chofer.dirty || chofer.touched), 
                        'has-success': chofer.valid && (chofer.dirty || chofer.touched)
                    }">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <select formControlName="chofer" placeholder="Seleccione el Chofer" class="form-control selectpicker">
                            <option *ngFor="let chofer of choferes" [value]="chofer.id">
                                {{chofer.nombre + ' ' + chofer.apellido}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Origen</label>
                <div class="col-md-4 inputGroupContainer" [ngClass]="{ 
                        'has-error': origen.invalid && (origen.dirty || origen.touched), 
                        'has-success': origen.valid && (origen.dirty || origen.touched)
                    }">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                        <input formControlName="origen" placeholder="Ingrese la Dirección de Origen" class="form-control" type="text" maxlength="50" required>
                    </div>
                </div>
                <label class="col-md-1 control-label">Destino</label>
                <div class="col-md-4 inputGroupContainer" [ngClass]="{
                        'has-error': destino.invalid && (destino.dirty || destino.touched),
                        'has-success': destino.valid && (destino.dirty || destino.touched)
                    }">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                        <input formControlName="destino" placeholder="Ingrese la Dirección de Destino" class="form-control" type="text" maxlength="50" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Fecha</label>
                <div class="col-md-4 inputGroupContainer" [ngClass]="{ 
                        'has-error': fecha.invalid && (fecha.dirty || fecha.touched), 
                        'has-success': fecha.valid && (fecha.dirty || fecha.touched) 
                    }">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input formControlName="fecha" placeholder="Ingrese la fecha" class="form-control" type="date" required>
                    </div>
                </div>
                <label class="col-md-1 control-label">Hora</label>
                <div class="col-md-4 inputGroupContainer" [ngClass]="{ 
                        'has-error': hora.invalid && (hora.dirty || hora.touched), 
                        'has-success': hora.valid && (hora.dirty || hora.touched) 
                    }">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        <input formControlName="hora" placeholder="Ingrese la Hora" class="form-control" type="time">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Precio</label>
                <div class="col-md-4 inputGroupContainer" [ngClass]="{ 
                        'has-error': precio.invalid && (precio.dirty || precio.touched), 
                        'has-success': precio.valid && (precio.dirty || precio.touched)
                    }">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                        <input formControlName="precio" placeholder="Ingrese el Precio" class="form-control" type="text" maxlength="14" required>
                    </div>
                </div>
                <label class="col-md-1 control-label">Estado</label>
                <div class="col-md-4 selectContainer" [ngClass]="{ 
                        'has-error': estado.invalid && (estado.dirty || estado.touched), 
                        'has-success': estado.valid && (estado.dirty || estado.touched) 
                    }">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-check"></i></span>
                        <select formControlName="estado" placeholder="Seleccione el Estado" class="form-control selectpicker">
                            <option *ngFor="let estado of estados" [value]="estado.id">
                                {{estado.nombre}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-1">
                    <button type="button" (click)="back()" class="btn btn-success">
                        Atrás <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                </div>
                <label class="col-md-1 control-label"></label>
                <div class="col-md-5">
                    <button type="button" (click)="guardar()" class="btn btn-success">
                        Guardar <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>